.table {
  border-collapse: collapse;
  border-radius: 4px;
  thead {
    tr {
      th {
        text-align: center;
        &:nth-child(1) {
        }
        &:nth-child(1), &:nth-child(2) {
          text-align: left;
        }
      }
    }
  }
  td, th {
    border: 1px solid #afafaf;
    padding: 5px 10px;
  }
  thead {
    tr {

    }
  }
}