.button {
  position: absolute;
  top: 30px;
  right: 20px;
  width: auto!important;
}
.video {

}
.buttonAgain {
  margin-right: 30px;
}

.contRow {

}
.buttonsNextPart {
  margin-top: 20px;
  align-content: center;
  button {
    width: auto!important;
  }
}